<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {text-align: center;}
    </style>
    <script src="/static/js/jquery-3.3.1/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1>User Login Form</h1>
    <form action="/index/" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="提交">
    </form>
    <table border="1" align="center" style="margin-top: 5px">
        <thead>
            <td>用户名</td>
            <td>密码</td>
        </thead>
        <tbody>
            {% for userinfo in data %}
                <tr>
                    <td>{{ userinfo.username }}</td>
                    <td>{{ userinfo.password }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>